<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.example"
        versionCode="10" 
        version   = "1.0.0">

    <!-- versionCode is optional and Android only -->

    <name>Air Quality Belgium</name>

    <description>
        A mobile application based on <a href="https://github.com/52North/sosmobileclient">sosmobileclient</a> to make available both sensor and interpolated/modelled air quality data available in real-time to the public
    </description>

    <author href="https://github.com/irceline/sosmobileclient" email="">
        Olav Peeters 
    </author>

</widget>
