
  <a class="action btn btn-default">
    <i class="icon-chevron-left"></i>
  </a>

  <a href='#' class="btn btn-default range-settings-btn">
    <i class ='icon-calendar'></i> 
      {{#if timespan.label}}
        {{timespan.label}}
      {{else}}
        {{timespan.din}}
      {{/if}}
  </a>

  <a class="action btn btn-default">
    <i class="icon-chevron-right"></i>
  </a>

  <a href='#' data-action='chart:view:reset' class="action btn btn-default pull-right reset-btn">
    <i class ='icon-undo'></i>
  </a>