<div class='placeholder' style="margin-left: 20px; margin-right: 20px;">

  No timeseries are currently visible.<br/>Go on, <a href='#add'>add <i class='icon-plus'></i></a> one.

  <p style="margin-top: 30px;">
    Tap <i class='icon-plus'></i> in the top right hand corner to search for sensors. Tap on a station (<i class="icon-map-marker" style="color: #3F7AA2;"></i>) to view its timeseries. Tap the add button (<i class='icon-plus'></i>) to add the timeseries to the graph panel. Hide, remove or edit timeseries in the legend. To open the legend, hit the <i class="icon-th-list"></i>-Symbol in the top left hand corner.
  </p>
  <p>
    Change the timespan you're interested in by tapping on the date at the top bar of this main page. Use the icons to move the selected range forward or backward.
  </p>

  <p style="margin-top: 20px;">
    Start by <br/>
    <a href="#add/map" class="btn btn-info">
      <i class="icon-globe"></i> 
      searching for sensors via map
    </a>
  </p>

</div>