<div class="btn-group">
  <a class="btn btn-default btn-prev-periode">
    <i class="icon-angle-left"></i>
  </a>

  <a href='#' class="btn btn-default range-settings-btn">
    <i class ='icon-calendar'></i> 
      {{#if timespan.label}}
        {{timespan.label}}
      {{else}}
        {{timespan.din}}
      {{/if}}
  </a>

  <a class="btn btn-default btn-next-periode">
    <i class="icon-angle-right"></i>
  </a>
</div>

<div class="pull-right">
  <div class="btn-group">
    <a href='#' data-action='chart:view:switch:dynamic' class="action btn btn-default view-btn dynamic-view-btn"><i class="icon-bar-chart"></i></a>
    <a href='#' data-action='chart:view:switch:static' class="action btn btn-default view-btn static-view-btn"><i class="icon-picture"></i></a>
  </div>
  <a href='#' data-action='chart:view:reset'  class="action btn btn-default reset-btn" style="display: inline-block;">
    <i class ='icon-zoom-out'></i>
  </a>
</div>