  <a href='#' class="btn btn-default view-settings-btn">
    <i class ='icon-eye-open'></i> view
  </a>

  <a href='#' class="btn btn-default range-settings-btn">
    <i class ='icon-time'></i> 
      {{#if timespan.label}}
        {{timespan.label}}
      {{else}}
        {{timespan.din}}
      {{/if}}
  </a>

  <a href='#' data-action='chart:view:reset' class="action btn btn-default pull-right reset-btn">
    <i class ='icon-undo'></i>
  </a>