<!--
<div class="modal" id="addStationModal">
  <div class="content">
    <div class="row">
      <div class="ten columns centered center-text">
        <h2><i class="icon-flag-alt"></i> [Station Name]</h2>
        <p>
          <ul class="list">
            <a>
              <div class="text">
                <h1>Syke_Snow</h1>
                <h2>blubbsalat</h2>
              </div>
            </a>
          </ul>
        </p>
        <p class="btn primary medium"><a href="#" class="switch" gumby-trigger="|#addStationModal">cancel</a></p>
      </div>
    </div>
  </div>
</div>
-->