<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h1 class="modal-title"><i class="icon-folder-open"></i> Providers</h1>
    </div>
    <div class="modal-body">
      <p>
        <ul class="list">
          {{#each availableServices}}
            <li>
              <a href="#" class="availableServiceLink" data-station="{{itemName}}">
                <div class="text">
                  <h1>{{itemName}}</h1>
                  <h2>{{type}}, {{version}}</h2>
                </div>

                {{#if_eq itemName ../currentService}}
                <div class="element">
                  <i class="icon-ok"></i>
                </div>
                {{/if_eq}}
              </a>
            </li>
          {{/each}}
        </ul>
      </p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    </div>
  </div>
</div>