<ul class="list">
  <li>
    <a href="">
      <div class="text">
        <h1>Headline that is very long. i ont even want to see whats happening</h1>
        <h2>Subtext</h2>
      </div>
      <div class="element">
        <i class="icon-plane"></i>
      </div>
     </a>
  </li>
    <li>
    <a href="">
      <div class="text">
        <h1>Headline</h1>
        <h2>Subtext</h2>
      </div>
      <div class="element">
        <i class="icon-plane"></i>
      </div>
     </a>
  </li>
    <li>
    <a href="">
      <div class="text">
        <h1>Headline</h1>
        <h2>Subtext</h2>
      </div>
      <div class="element">
        <i class="icon-plane"></i>
      </div>
     </a>
  </li>
    <li>
    <a href="">
      <div class="text">
        <h1>Headline</h1>
        <h2>Subtext</h2>
      </div>
      <div class="element">
        <i class="icon-plane"></i>
      </div>
     </a>
  </li>
    <li>
    <a href="">
      <div class="text">
        <h1>Headline</h1>
        <h2>Subtext</h2>
      </div>
      <div class="element">
        <i class="icon-plane"></i>
      </div>
     </a>
  </li>
    <li>
    <a href="">
      <div class="text">
        <h1>Headline</h1>
        <h2>Subtext</h2>
      </div>
      <div class="element">
        <i class="icon-plane"></i>
      </div>
     </a>
  </li>
    <li>
    <a href="">
      <div class="text">
        <h1>Headline</h1>
        <h2>Subtext</h2>
      </div>
      <div class="element">
        <i class="icon-plane"></i>
      </div>
     </a>
  </li>
</ul>