<ul class="list">
  <li>
    <a href="#" class="switch" gumby-trigger="#providerModal">
      <div class="text">
        <h1>Choose Provider</h1>
        <h2>Current: currentProvider</h2>
      </div>
      <div class="element">
        <i class="icon-cloud-download"></i>
      </div>
     </a>
  </li>
    <li>
    <a href="#" class="refresh-stations">
      <div class="text">
        <h1>Refresh stations</h1>
        <h2>Last refresh: xx.xx.xxxx, xx:xx:xx</h2>
      </div>
      <div class="element">
        <i class="icon-refresh refresh-stations-icon"></i>
      </div>
     </a>
  </li>
  <li>
    <a href="#" class="switch" gumby-trigger="#aboutModal">
      <div class="text">
        <h1>About this app</h1>
        <h2>v0.1 beta</h2>
      </div>
      <div class="element">
        <i class="icon-info-sign"></i>
      </div>
     </a>
  </li>
</ul>