<header role="banner" class="top app-navbar">
  <h1>App settings</h1>
  <a class="nav-btn nav-btn-right close-btn"><i class="icon-remove"></i></a>
</header>
<div class="full-content" id="settings-content">

  <ul class="list">
    <li>
      <a href="#" class="expert">
        <div class="text">
          <h1>Expert mode</h1>
          <h2>Shows more details</h2>
        </div>
        <div class="element">
          <i class="" id="expert-icon"></i>
        </div>
       </a>
    </li>
    <li>
      <a href="#" data-toggle="modal" data-target="#aboutModal">
        <div class="text">
          <h1>About this app</h1>
          <h2>{{appVersion}}</h2>
        </div>
        <div class="element">
          <i class="icon-info-sign"></i>
        </div>
       </a>
    </li>
    <li>
      <a href="#" class="reset">
        <div class="text">
          <h1>Reset to default</h1>
          <h2 class="text-danger">Deletes all user data</h2>
        </div>
        <div class="element">
          <i class="icon-trash"></i>
        </div>
       </a>
    </li>
    <!--
    <li>
      <a href="#" class="exit">
        <div class="text">
          <h1>Exit app</h1>
          <h2>Don't just hide this app.</h2>
        </div>
        <div class="element">
          <i class="icon-signout icon-rotate-90"></i>
        </div>
       </a>
    </li>
    -->
  </ul>
</div>