<div class="modal fade" id="aboutModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h1 class="modal-title"><i class="icon-info-sign"></i> About</h1>
      </div>
      <div class="modal-body">
        <p>
           This project aims to build a mobile client for the Sensor Observation Network by 52north. You will be able to choose from a variety of sensors, add them to your current view and inspect the values. This project is attended at the University of Hamburg, Germany, dep. VSIS.
          <ul>
            <li>Version: <code>{{appVersion}}</code></li>
            <li>Splash screen picture: <a href="http://www.flickr.com/brownpau/" target="_system">flickR/brownpau</a> (CC-BY-2.0)
            <li>Creator: Marius Fink, <a href="http://www.uni-hamburg.de/" target="_system">Uni Hamburg, Germany</a>, <a href="http://52north.org" target="_system">52° North</a></li>
            <li><i class="icon-github"></i> <a href="https://github.com/marfnk/sosmobileclient">https://github.com/marfnk/sosmobileclient</a> <code>MIT Licence</code>
          </ul>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>