<div class="modal" id="providerModal">
  <div class="content">
    <div class="row">
      <div class="ten columns centered center-text">
        <h2><i class="icon-cloud-download"></i> Providers</h2>
        <p>
          <ul class="list">
            <a>
              <div class="text">
                <h1>Syke_Snow</h1>
                <h2>blubbsalat</h2>
              </div>
            </a>
          </ul>
        </p>
        <p class="btn primary medium"><a href="#" class="switch" gumby-trigger="|#providerModal">cancel</a></p>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="aboutModal">
  <div class="content">
    <div class="row">
      <div class="ten columns centered center-text">
        <h2><i class="icon-info-sign"></i> About</h2>
        <p>
          This project aims to build a mobile client for the Sensor Observation Network by 52north. You will be able to choose from a variety of sensors, add them to your current view and inspect the values. This project is attendet at the University of Hamburg, Germany, dep. VSIS.
          <ul>
            <li>Version [from storage]</li>
            <li>Creator: Marius Fink, 52° North</li>
            <li>Github: <a href="https://github.com/marfnk/sosmobileclient">https://github.com/marfnk/sosmobileclient</a>

          </ul>
        </p>
        <p class="btn primary medium"><a href="#" class="switch" gumby-trigger="|#aboutModal">close</a></p>
      </div>
    </div>
  </div>
</div>