<a href="#" class="station-header">
  <div class="text">
    <h1>{{properties.station}}</h1>
    <h2>{{properties.timeseries.length}} timeseries</h2>
  </div>
  <div class="element">
    <i class="icon-building text-info"></i>
  </div>
</a>