  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h1 class="modal-title">
          {{#ifGt stationsCount 2}}
            <i class="icon-building"></i><i class="icon-building"></i> {{stationsCount}} Stations
          {{else}}
            <i class="icon-building"></i> Station
          {{/ifGt}}
        </h1>
      </div>
      <div class="modal-body">
        <p>
          <ul class="list stations">
            
          </ul>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
