<a href="#" class="availableServiceLink"  data-dismiss="modal" data-station="{{itemName}}">
  <div class="text">
      <h1>{{category}}</h1>
      <h2>{{offering}}</h2>
  </div>
  <div class="element">
    <i class="icon-trash"></i>
  </div>
</a>