
  <a class="btn btn-default btn-prev-periode">
    <i class="icon-angle-left"></i>
  </a>

  <a href='#' class="btn btn-default range-settings-btn">
    <i class ='icon-calendar'></i> 
      {{#if timespan.label}}
        {{timespan.label}}
      {{else}}
        {{timespan.din}}
      {{/if}}
  </a>

  <a class="btn btn-default btn-next-periode">
    <i class="icon-angle-right"></i>
  </a>

  <a class="btn btn-default btn-refresh">
    <i class="icon-refresh"></i> live data refresh
  </a>

  <a href='#' data-action='chart:view:reset' class="action btn btn-default pull-right reset-btn">
    <i class ='icon-zoom-out'></i>
  </a>