#map{width:100%;height:100%;}
#tab-map-content{position:absolute;top:103px;bottom:0px;left:0px;right:0px;padding:0;margin:0;}
.map-buttons{position:absolute;z-index:11;bottom:0px;left:0px;padding:0px 20px 10px 0px;}.map-buttons a{font-size:30px;webkit-box-shadow:0 1px 7px rgba(0, 0, 0, 0.65);box-shadow:0 1px 7px rgba(0, 0, 0, 0.65);margin-left:20px;width:56px;height:48px;padding:3px 0px 0px 0px;}.map-buttons a:firstChild{margin-left:0px;}
#marker-layer .geo-label{width:40px;height:46px;margin-left:-20px;margin-top:-40px;/*background-image:url(../img/marker-icon.png);*/}
