body {
  position:absolute;
}

@panel-size: 0.4; //40% - always percentages!
.panel {
  display: -webkit-box;
  margin: 0 0 0 0;
  padding: 0;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-align: stretch;
  -webkit-box-sizing: border-box;
  -webkit-transition: all 0.25s ease-in-out;
  overflow-y: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  background: yellow;
  z-index: 20; //Panel always on top

  &.from-right {
    &.out {
      left: percentage(1);
      right: percentage(-1 * @panel-size);
      width: 0;
    }
    &.in {
      right: 0;
      left: percentage(1 - @panel-size);
      width: percentage(@panel-size);
      box-shadow: -15px 0px 10px 0px rgba(50, 50, 50, 0.3); 
    }
  }
  &.from-left {
    &.out {
      right: percentage(1);
      left: percentage(@panel-size * -1);
      width: 0;
    }
    &.in {
      left: 0;
      right: percentage(1 - @panel-size);
      width: percentage(@panel-size);
      box-shadow: 15px 0px 10px 0px rgba(50, 50, 50, 0.3); 
    }
  }

  &.from-right,
  &.from-left {
    transition-property: right, left, width;
    transition-duration: 0.5s, 0.5s, 0.5s;
  }
}

.page-content {
  position: absolute;
  top: 60px;
  bottom: 0px;
  overflow-y: auto;
  width: 100%;
}

.page {
  width: 100%;
  display: -webkit-box;
  margin: 0 0 0 0;
  padding: 0;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-align: stretch;
  -webkit-box-sizing: border-box;
  -webkit-transition: all 0.25s ease-in-out;
  overflow-y: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  &.from-right.out {
    position: absolute;
    left: 100%;
    right: 100%;
  }
  &.from-left.out {
    position: absolute;
    right: -100%;
    left: -100%;
  }
  &.from-bottom.out {
    position: absolute;
    top: 100%;
    bottom: 100%;
  }
  &.from-top.out {
    position: absolute;
    top: -100%;
    bottom: -100%;
  }

  &.out {
    opacity: 0.5;
  }
  &.in {
    opacity: 1;
    left: 0px; 
    top: 0px;
    left: 0px; 
    top: 0px;
    z-index: 10;
  }

  &.from-right,
  &.from-left,
  &.from-top,
  &.from-bottom {
    transition-property: opacity, right, left;
    transition-duration: 0.5s, 0.5s, 0.5s;
  }

  &.panel-bg {
    opacity: 0.5;
  }
}
