/*
We highly recommend you use SASS and write your custom styles in sass/_custom.scss.
However, this blank file is available if you prefer
*/
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url('fonts/opensans-light.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('fonts/opensans.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url('fonts/opensans-semibold.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url('fonts/opensans-bold.woff') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  src: url('fonts/Roboto-Light.ttf');
}
@font-face {
  font-family: 'FontAwesome';
  src: url('fonts/fontawesome-webfont.ttf');
}

.top {
  z-index: 100;
  position: relative;
}
.top .nav-btn {
  position: absolute;
  top: 5px;
  font-size: 35px;
  color: rgba(255, 255, 255, 0.75);
}
.top .nav-btn-right {
  right: 20px;
}
.top .nav-btn-left {
  left: 20px;
}
.top h1 {
  margin: 0;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  white-space: nowrap;
  color: #fff !important;
  padding-top: 19px;
}
.app-navbar {
  margin-bottom: 0px !important;
  background: #222222;
  width: 100%;
  min-height: 60px;
  display: block;
  margin-bottom: 20px;
  a:hover, a:active, a:focus {
    text-decoration: none;
  }
}

/* subnav */ 
.tab-nav li a {
  font-size: 13px;
}
#map {
  position: relative;
  top:0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
#tab-map-content {
  position: absolute;
  top: 44px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 0;
  margin: 0;
}

.list {
  list-style: none outside none;
  padding: 0px;

  li {
    border-bottom: 1px solid #d8d8d8;
    width: 100%;
    margin: auto;
    a {
      margin: 0px 10px 0px 10px;
      display:-moz-box; /* Firefox */
      display:-webkit-box; /* Safari and Chrome */
      display:-ms-flexbox; /* Internet Explorer 10 */
      display:box;
      text-decoration: none;
      &:active, &:focus, &:hover {
        text-decoration:none;
      }
    }
  }
  &.sublist li {
    border-bottom: none;
    width: 100%;
    padding-left: 20px;
    border-left: 1px solid #d8d8d8;
  }
  h1 {
    font-size: 18px;
    margin: 0px 6px 2px 6px;
    padding: 0px;
  }
  h2 {
    font-size: 14px;
    margin: 2px 6px 4px 6px;
    padding: 0px 0px 10px 0px;
    color: #8a8a8a;
  }
  .element {
    width: 50px;
    padding: 0 0 0 10px;
    margin: 12px 10px 12px 10px;
    border-left: 1px solid #d8d8d8;
    font-size: 26px;
    color: #7e7e7e;
    text-align: center;
  }
  .text {
    padding-top: 10px;
    -moz-box-flex:1.0; /* Firefox */
    -webkit-box-flex:1.0; /* Safari and Chrome */
    -ms-flex:1.0; /* Internet Explorer 10 */
    box-flex:1.0;
  }
  .clear {
    clear: right;
  }
}

/* modals */
.modal-header {
  border-bottom: none;
}
.modal-footer {
  border-top: none;
}

.map-buttons {
  position: absolute;
  z-index: 11;
  bottom: 0px;
  right: 0px;
  padding: 0px 20px 20px 0px;
  a {
    font-size: 30px;
    webkit-box-shadow:  0px 0px 15px 3px rgba(200, 200, 255, 1);
    box-shadow:  0px 0px 15px 3px rgba(200, 200, 255, 1);
  }
}

 #marker-layer .geo-label {
  width: 40px;
  height: 46px;
  margin-left: -20px;
  margin-top: -40px;
  background-image: url('../img/marker.png');
}