/*
We highly recommend you use SASS and write your custom styles in sass/_custom.scss.
However, this blank file is available if you prefer
*/
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url('fonts/opensans-light.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('fonts/opensans.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url('fonts/opensans-semibold.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url('fonts/opensans-bold.woff') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  src: url('fonts/Roboto-Light.ttf');
}
@font-face {
  font-family: 'FontAwesome';
  src: url('fonts/fontawesome-webfont.ttf');
}

/* width/heigh fixes */
*, *:after, *:before {
  -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
}
body, html {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: "Open Sans" !important;
  font-weight: 400 !important;
  background: #fff;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Open Sans" !important;
  font-weight: 400 !important;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: " "; display: table; }
.clearfix:after { clear: both; }

/** bootstrap fixes **/
a, a:focus, a:active, a:hover, a:visited {
  text-decoration: none;
  cursor: pointer;
}

.top {
  z-index: 100;
  position: relative;
}
.top .nav-btn {
  position: absolute;
  top: 8px;
  font-size: 30px;
  color: rgba(255, 255, 255, 0.85);
  padding: 8px 0px 8px 13px;
  width: 60px;
  height: 60px;
  top: 0px;
}
.top .nav-btn-right {
  right: 0px;
}
.top .nav-btn-left {
  left: 0px;
}
.top h1 {
  margin: 0;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  white-space: nowrap;
  color: #fff !important;
  padding-top: 19px;
}
.app-navbar {
  margin-bottom: 0px !important;
  background: #222222;
  width: 100%;
  min-height: 60px;
  display: block;
  margin-bottom: 20px;
  a:hover, a:active, a:focus {
    text-decoration: none;
  }
}

/* subnav */ 
.tab-nav li a {
  font-size: 13px;
}

/****************
 * ANDROID LISTS *
 ****************/
.list {
  list-style: none outside none;
  padding: 0px;

  li {
    border-bottom: 1px solid #d8d8d8;
    width: 100%;
    margin: auto;
    .wrapper, a {
      margin: 0px 10px 0px 10px;
      display:-moz-box; /* Firefox */
      display:-webkit-box; /* Safari and Chrome */
      display:-ms-flexbox; /* Internet Explorer 10 */
      display:box;
      text-decoration: none;
      &:active, &:focus, &:hover {
        text-decoration:none;
      }

      .element {
        min-width: 50px;
        margin: 10px 0px;
        padding: 0px;
        border-left: 1px solid #d8d8d8;
        font-size: 26px;
        color: #7e7e7e;
        text-align: center;
        .action, .no-action {
          padding: 0;
          width: 68px;
          height: 40px;
          margin: 0px;
          text-align: center;
          padding-left: 22px;
        }
      }
      .text {
        padding-top: 10px;
        padding-bottom: 14px;
        -moz-box-flex:1.0; /* Firefox */
        -webkit-box-flex:1.0; /* Safari and Chrome */
        -ms-flex:1.0; /* Internet Explorer 10 */
        box-flex:1.0;
      }

      &.hidden-ts {
        .text, .action:not(.always-visible), .no-action:not(.always-visible) {
          opacity: 0.5;
        }
      }
      &.vertical-elements {
        display: block;
        .element {
          width: 100%;
          margin: 0px;
          padding: 0px;
          font-size: 26px;
          color: #7e7e7e;
          text-align: right;
          border-left: none;
          .action, .no-action {
            width: 45px;
            padding: 0;
            height: 40px;
            margin: 0px;
            text-align: center;
            display: inline-block;
          }
        }
        .text {
          padding-top: 10px;
          padding-bottom: 0px;
          -moz-box-flex:1.0; /* Firefox */
          -webkit-box-flex:1.0; /* Safari and Chrome */
          -ms-flex:1.0; /* Internet Explorer 10 */
          box-flex:1.0;
        }
      }
    }
  }
  &.sublist li {
    border-bottom: none;
    width: 100%;
    padding-left: 20px;
    border-left: 1px solid #d8d8d8;
  }
  h1 {
    font-size: 18px;
    margin: 0px 6px 2px 6px;
    padding: 0px;
    word-wrap: break-word;
    word-break: break-all;
  }
  h2 {
    font-size: 14px;
    margin: 0px 6px 0px 6px;
    padding: 0px 0px 0px 0px;
    color: #8a8a8a;
    word-wrap: break-word;
    word-break: break-all;
  }
  

  .clear {
    clear: right;
  }
}
.placeholder {
  text-align: center;
  padding-top: 40px;
}

/********************
 * BOOTSTRAP MODALS *
 ********************/
.modal-header {
  border-bottom: none;
}
.modal-footer {
  border-top: none;
}
.modal-backdrop {
  z-index: 1000; //conflict with mobiscroll
}

/***************
 *     TABS    *
 ***************/
.full-content {
  position: absolute;
  overflow-y: auto;
  top: 60px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  &.tab-pane {
    top: 103px;
  }
}
/***************
 * COLOR MODAL *
 ***************/
.default-color-btn, .color-btn {
  color: white;
  &:active, &:hover, &:link, &:focus, &:visited {
    color: white;
  }
  width: 100%;
  margin-top: 30px;
  height: 80px;
  &:lastChild {
    margin-right: 0px;
  }
}
.default-color-btn {
  margin-top: 0px;
}

.multiline-button {
  margin: 0px 10px 10px 0px;
}

.chart-wrapper, .fullscreen-with-top-btns {
  position: absolute;
  top: 95px;
  bottom: 0;
  left: 0;
  right: 0;
}

/***************
 * CONTROL BAR *
 ***************/

.controls {
  position: relative;
  background: white;
  width: 100%;
  z-index: 100;
  text-align: left;
  background: #dedede;
  padding: 0 5px;
  
  .btn {
    background: inherit;
    display: inline-block;

    min-width: 40px;
    padding: 0px 7px;
    margin: 5px 0px;
    border-radius: 5;
    border: 1px solid #bbb;
    line-height: 25px;
    color: #222;
    i {
      font-size: 20px;
      position: relative;
      bottom: -1px;
    }
    &.pull-right {
    }
    &.highlight {
      -webkit-animation: highlight 1s ease-out;
      -webkit-animation-iteration-count: 1; 
    }
  }
}

@-webkit-keyframes highlight {
    0% {/*background: white;*/}
    25% {background: red;}
    75% {background: red;}
    100% {/*background: white;*/}
}

.blink {
  -webkit-animation: blink 0.8s ease-out;
  -webkit-animation-iteration-count: infinite; 
}

@-webkit-keyframes blink {
    0% {}
    50% {opacity: 0.3;}
    100% {}
}

/****************
 * RANGE PICKER *
 ****************/

.custom-range-button-wrapper {
  margin-top: -20px;
  margin-bottom: 20px;
  text-align: center;
  .big-btn {
    width: 100px;
    height: 100px;
    i {
      font-size: 40px;
      display: block;
    }
  }
}

#chart-range-settings .warnings .alert {
  padding: 10px;
}

/*******************
 * Loading overlay *
 *******************/
.loading-screen {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: rgba(255,255,255,1);
  text-align: center;
  padding-top: 50px;

  .loading-state {
    font-size: 28px;
    border: 1px solid #ddd;
    width: 50%;
    display: inline-block;
  }

  i {
    margin: 5px;
  }
}
